#square-container {
  width: 90vw;
  height: 90vh;
  display: grid;
  margin: auto;
  /* border: 1px solid black; */
}

#main-container {
  margin: auto;
}

.cell {
  border: 1px solid black;
}

.button-class {
  padding: 5px 10px;
  font-size: large;
  box-shadow: 2px #2222;
}

.button-container {
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
}
